<html>
    <head>
        <body>
            <div class="col-md-3">
                <div class="col-md-4" style="color: aquamarine;">
                 <h2>New data for you</h2>
                </div>
                  <div class="col-md-4" style="color:cadetblue;">
                 
                </div>

            </div>
        </body>
    </head>
</html>